source/html/index.pug
extends base.pug
block content
	div(class="content__wrapper")
		div(class="welcome")
			div(class="container h-100 d-flex flex-column justify-content-end")
				div(class="row pb-5")
					div(class="col-12 col-lg-6 offset-lg-6 d-flex flex-column justify-content-end pl-5 pl-lg-0")
						span
							| группа компаний
						h1
							| промышленное снабжение
				div(class="row")
					div(class="col-12 d-flex justify-content-center")
						div(class="flooger d-flex align-items-center flex-column")
							span(class="flooger__cotent")
								| крутите
							div(class="flooger__circle")
								span()
		div(class="sites")
			div(class="container-fluid")
				div(class="row")
					div(class="col-lg-4")
						a(class="sites__link" href="#")
							div(class="sites__img d-flex justify-content-center align-items-center")
								img(class="lazyload img-fluid" data-src="images/s1.png" alt="img")
							div(class="sites__line")
							span(class="sites__header")
								| ООО “Торговый Дом “ВелесТрейд”
							span(class="sites__description")
								|Горнодобывающее<br>и дорожно-строительное оборудование
					div(class="col-lg-4")
						a(class="sites__link" href="#")
							div(class="sites__img d-flex justify-content-center align-items-center")
								img(class="lazyload img-fluid" data-src="images/s2.png" alt="img")
							div(class="sites__line")
							span(class="sites__header")
								| ООО Запчасти урала
							span(class="sites__description")
								|общепромышленное<br>оборудование
					div(class="col-lg-4")
						a(class="sites__link" href="#")
							div(class="sites__img d-flex justify-content-center align-items-center")
								img(class="lazyload img-fluid" data-src="images/s3.png" alt="img")
							div(class="sites__line")
							span(class="sites__header")
								|пик Уральский редуктор
							span(class="sites__description")
								|производство<br>редукторов
		div(class="about")
			div(class="container")
				div(class="row")
					div(class="col-12")
						h2(class="h2_Furore pb-5 text-center")
							| О группе компаний
				div(class="row")
					div(class="col-12 col-lg-6")
						p
							| Комплексное снабжение промышленных предприятий - это лучшее решение для обеспечения организаций всех отраслей промышленности качественным оборудованием и комплектующими.
						p
							| Если ВЫ цените своё время и Ваши требования к качеству товара высоки, то наше предложение для Вас.
						p
							| Группа компаний "Промышленное снабжение" обеспечивает работу предприятий за счет оперативной поставки качественных запчастей.
						p
							| Многолетний опыт работы в сфере снабжения предприятий позволяет нам выполнять работу на высоком уровне. Оборудование и комплектующие наших компаний применяются в таких областях промышленности, как горнодобывающая и дорожно-строительная отрасль, сельское хозяйство, машиностроение и др.
					div(class="col-12 col-lg-6")
						img(class="lazyload img-fluid" data-src="images/bfgb.jpg" alt="img")
		div(class="block__line")
			img(class="lazyload img-fluid" data-src="images/1.png" alt="img")
			div(class="container")
				div(class="row")
					div(class="col-12 col-lg-10 offset-lg-1")
						span()
							| Мы ценим своих клиентов, поэтому предлагаем индивидуальный подход к каждому и готовы сотрудничать в любой удобной для Вас форме.
			img(class="lazyload img-fluid" data-src="images/2.png" alt="img")
		div(class="defense")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12 pb-5")
						h2(class="h2_Furore text-center")
							| мы гарантируем
				div(class="row justify-content-center")
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d1.svg")
						span()
							| Оперативность обработки заявок
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d2.svg")
						span()
							| Качество товара
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d3.svg")
						span()
							| Надежность поставки
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d4.svg")
						span()
							| Реальные сроки
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d5.svg")
						span()
							| Индивидуальный подход к каждому клиенту
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d6.svg")
						span()
							| Строгий контроль выполнения обязательств
					div(class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5")
						img(class="lazyload" data-src="images/d7.svg")
						span()
							| Неограниченная география поставок
		div(class="delivery")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12 pb-5")
						h2(class="h2_Furore text-center")
							| Доставка
				div(class="row")
					div(class="col-12 col-lg-6")
						p
							| Поставки запчастей и сопроводительных документов осуществляются в краткие сроки в любую точку России наиболее удобной для Вас транспортной компанией
						div(class="py-4 d-flex d-lg-block justify-content-center flex-column align-items-center")
							img(class="lazyload pb-4 pb-lg-0" data-src="images/cffgdsfgdfg.jpg" alt="img")
							img(class="lazyload pb-4 pb-lg-0" class="mx-5" data-src="images/vcbbnvcbn.jpg" alt="img")
							img(class="lazyload pb-4 pb-lg-0" data-src="images/vbnfdgnfdn.svg" alt="img")
						div(class="py-4 d-flex d-lg-block justify-content-center flex-column align-items-center")
							img(class="lazyload pb-4 pb-lg-0" data-src="images/cxvbfgbfgn.jpg" alt="img")
							img(class="lazyload pb-4 pb-lg-0" class="mx-5" data-src="images/cxvbcxvb.jpg" alt="img")
							img(class="lazyload pb-4 pb-lg-0" data-src="images/xcvbxcvbcxvb.png" alt="img")
					div(class="col-lg-6 d-none d-lg-block")
						img(class="lazyload img-fluid" data-src="images/map.png" alt="img")
		div(class="partners")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12 pb-5")
						h2(class="h2_Furore text-center")
							| наши партнёры
				div(class="row")
					div(class="col-12")
						div(class="slick__partners")
							a(href="#" class="d-flex justify-content-center px-4")
								img(class="lazyload img-fluid" data-src="images/xcvxzcvxzcv.jpg" alt="img")
							a(href="#" class="d-flex justify-content-center px-4")
								img(class="lazyload img-fluid" data-src="images/fbsfgsdg.jpg" alt="img")
							a(href="#" class="d-flex justify-content-center px-4")
								img(class="lazyload img-fluid" data-src="images/cxvbfdgbfgb.jpg" alt="img")
							a(href="#" class="d-flex justify-content-center px-4")
								img(class="lazyload img-fluid" data-src="images/zxvzdbsdgb.jpg" alt="img")
							a(href="#" class="d-flex justify-content-center px-4")
								img(class="lazyload" data-src="images/xcvxzcvxzcv.jpg" alt="img")

release/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arsenal:700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="js/startFunction.min.js"></script>
    <title>Project</title>
  </head>
  <body>
    <div id="preloader-cube">
      <div class="caption">
        <div class="cube-loader">
          <div class="cube loader-1"></div>
          <div class="cube loader-2"></div>
          <div class="cube loader-4"></div>
          <div class="cube loader-3"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <nav class="navigation d-flex justify-content-end align-items-center"><a class="phone" href="tel:">8 900 123 45 67</a>
                <button class="btn__menu">
                  <svg class="ham hamRotate ham8" id="burger" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
                    <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
                    <path class="line middle" d="m 30,50 h 40"></path>
                    <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
                  </svg>
                </button>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <div class="navigation__content d-flex align-items-center justify-content-center">
        <div class="navigation__wrap"><a href="#">первый сайт</a><a href="#">второй сайт</a><a href="#">третий сайт</a></div>
      </div>
      <div class="content">
        <div class="content__wrapper">
          <div class="welcome">
            <div class="container h-100 d-flex flex-column justify-content-end">
              <div class="row pb-5">
                <div class="col-12 col-lg-6 offset-lg-6 d-flex flex-column justify-content-end pl-5 pl-lg-0"><span>группа компаний</span>
                  <h1>промышленное снабжение</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <div class="flooger d-flex align-items-center flex-column"><span class="flooger__cotent">крутите</span>
                    <div class="flooger__circle"><span></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sites">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4"><a class="sites__link" href="#">
                    <div class="sites__img d-flex justify-content-center align-items-center"><img class="lazyload img-fluid" data-src="images/s1.png" alt="img"></div>
                    <div class="sites__line"></div><span class="sites__header">ООО “Торговый Дом “ВелесТрейд”</span><span class="sites__description">Горнодобывающее<br>и дорожно-строительное оборудование</span></a></div>
                <div class="col-lg-4"><a class="sites__link" href="#">
                    <div class="sites__img d-flex justify-content-center align-items-center"><img class="lazyload img-fluid" data-src="images/s2.png" alt="img"></div>
                    <div class="sites__line"></div><span class="sites__header">ООО Запчасти урала</span><span class="sites__description">общепромышленное<br>оборудование</span></a></div>
                <div class="col-lg-4"><a class="sites__link" href="#">
                    <div class="sites__img d-flex justify-content-center align-items-center"><img class="lazyload img-fluid" data-src="images/s3.png" alt="img"></div>
                    <div class="sites__line"></div><span class="sites__header">пик Уральский редуктор</span><span class="sites__description">производство<br>редукторов</span></a></div>
              </div>
            </div>
          </div>
          <div class="about">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="h2_Furore pb-5 text-center">О группе компаний</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <p>Комплексное снабжение промышленных предприятий - это лучшее решение для обеспечения организаций всех отраслей промышленности качественным оборудованием и комплектующими.</p>
                  <p>Если ВЫ цените своё время и Ваши требования к качеству товара высоки, то наше предложение для Вас.</p>
                  <p>Группа компаний "Промышленное снабжение" обеспечивает работу предприятий за счет оперативной поставки качественных запчастей.</p>
                  <p>Многолетний опыт работы в сфере снабжения предприятий позволяет нам выполнять работу на высоком уровне. Оборудование и комплектующие наших компаний применяются в таких областях промышленности, как горнодобывающая и дорожно-строительная отрасль, сельское хозяйство, машиностроение и др.</p>
                </div>
                <div class="col-12 col-lg-6"><img class="lazyload img-fluid" data-src="images/bfgb.jpg" alt="img"></div>
              </div>
            </div>
          </div>
          <div class="block__line"><img class="lazyload img-fluid" data-src="images/1.png" alt="img">
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1"><span>Мы ценим своих клиентов, поэтому предлагаем индивидуальный подход к каждому и готовы сотрудничать в любой удобной для Вас форме.</span></div>
              </div>
            </div><img class="lazyload img-fluid" data-src="images/2.png" alt="img">
          </div>
          <div class="defense">
            <div class="container">
              <div class="row pb-5">
                <div class="col-12 pb-5">
                  <h2 class="h2_Furore text-center">мы гарантируем</h2>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5"><img class="lazyload" data-src="images/d1.svg"><span>Оперативность обработки заявок</span></div>
                <div class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5"><img class="lazyload" data-src="images/d2.svg"><span>Качество товара</span></div>
                <div class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5"><img class="lazyload" data-src="images/d3.svg"><span>Надежность поставки</span></div>
                <div class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5"><img class="lazyload" data-src="images/d4.svg"><span>Реальные сроки</span></div>
                <div class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5"><img class="lazyload" data-src="images/d5.svg"><span>Индивидуальный подход к каждому клиенту</span></div>
                <div class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5"><img class="lazyload" data-src="images/d6.svg"><span>Строгий контроль выполнения обязательств</span></div>
                <div class="col-12 col-lg-3 d-flex flex-column align-items-center pb-5"><img class="lazyload" data-src="images/d7.svg"><span>Неограниченная география поставок</span></div>
              </div>
            </div>
          </div>
          <div class="delivery">
            <div class="container">
              <div class="row pb-5">
                <div class="col-12 pb-5">
                  <h2 class="h2_Furore text-center">Доставка</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <p>Поставки запчастей и сопроводительных документов осуществляются в краткие сроки в любую точку России наиболее удобной для Вас транспортной компанией</p>
                  <div class="py-4 d-flex d-lg-block justify-content-center flex-column align-items-center"><img class="lazyload pb-4 pb-lg-0" data-src="images/cffgdsfgdfg.jpg" alt="img"><img class="lazyload pb-4 pb-lg-0 mx-5" data-src="images/vcbbnvcbn.jpg" alt="img"><img class="lazyload pb-4 pb-lg-0" data-src="images/vbnfdgnfdn.svg" alt="img"></div>
                  <div class="py-4 d-flex d-lg-block justify-content-center flex-column align-items-center"><img class="lazyload pb-4 pb-lg-0" data-src="images/cxvbfgbfgn.jpg" alt="img"><img class="lazyload pb-4 pb-lg-0 mx-5" data-src="images/cxvbcxvb.jpg" alt="img"><img class="lazyload pb-4 pb-lg-0" data-src="images/xcvbxcvbcxvb.png" alt="img"></div>
                </div>
                <div class="col-lg-6 d-none d-lg-block"><img class="lazyload img-fluid" data-src="images/map.png" alt="img"></div>
              </div>
            </div>
          </div>
          <div class="partners">
            <div class="container">
              <div class="row pb-5">
                <div class="col-12 pb-5">
                  <h2 class="h2_Furore text-center">наши партнёры</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="slick__partners"><a class="d-flex justify-content-center px-4" href="#"><img class="lazyload img-fluid" data-src="images/xcvxzcvxzcv.jpg" alt="img"></a><a class="d-flex justify-content-center px-4" href="#"><img class="lazyload img-fluid" data-src="images/fbsfgsdg.jpg" alt="img"></a><a class="d-flex justify-content-center px-4" href="#"><img class="lazyload img-fluid" data-src="images/cxvbfdgbfgb.jpg" alt="img"></a><a class="d-flex justify-content-center px-4" href="#"><img class="lazyload img-fluid" data-src="images/zxvzdbsdgb.jpg" alt="img"></a><a class="d-flex justify-content-center px-4" href="#"><img class="lazyload" data-src="images/xcvxzcvxzcv.jpg" alt="img"></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
    <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-header"><span>Форма заявки</span></div>
        <div class="modal-body">
          <form class="form">
            <input type="text" placeholder="Имя*">
            <input class="my-4" type="tel" placeholder="Телефон*">
            <div class="d-flex align-items-start justify-content-center py-3 pb-4">
              <label class="m-0">
                <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
              </label>
              <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
            </div>
            <div class="d-flex justify-content-center w-100">
              <button class="btn btn__flare" type="submit">Записаться</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-to-top">
    <div class="btn-to-top__content d-flex justify-content-center align-items-center">
      <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
        <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
          <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-lg-5 pb-4 pb-lg-0"><span class="footer__header pb-4">Группа компаний<bR>промышленное снабжение</span><span class="footer__description pb-3">Контакты</span><a class="footer__link pb-3" href="tel:">8 900 123 45 67</a><a class="footer__link pb-3" href="mail:">info@mail.ru</a><span class="footer__adres">Челябинск, ул. Ленина 35</span></div>
        <div class="col-12 col-lg-7">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.377774904479!2d61.41503636101183!3d55.15916648985994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ed4e2e503119%3A0x40d4f4664f9f7e3d!2z0L_RgC4g0JvQtdC90LjQvdCwLCAzNSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA5MQ!5e0!3m2!1sru!2sru!4v1572934226192!5m2!1sru!2sru" width="100%" height="232" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/main.min.js"></script>
</html>
