source/html/oneItem_4.pug
extends baseFirstSite.pug
block content
	div(class="content__wrapper content_first")
		div(class="container-fluid content_first_p")
			div(class="row")
				div(class="col-12 col-lg-5 offset-lg-1")
					h1()
						| буровое оборудование
			div(class="row")
				div(class="col-12 col-lg-5 pl-lg-0")
					img(class="lazyload" data-src="images/Line.png" alt="img")
		div(class="container-fluid excavator")
			div(class="row")
				div(class="col-10 offset-lg-1")
					span(class="excavator__h_top")
						| Буровой инструмент
					ul(class="nav nav_blue nav-tabs" id="myTab" role="tablist")
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true")
								| Бульдозеры ЧТЗ
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false")
								| Автогрейдеры ДЗ 98
						li(class="nav-item mb-4 mb-lg-0")
							a(class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false")
								| Погрузчики
			div(class="row pb-4")
				div(class="col-12 col-lg-4 offset-lg-1 pb-4")
					p(class="pb-4")
						| Обращаем ваше внимание на то, что не все виды запчастей у тракторов Т-130, Т-170, Б10 взаимозаменяемы.
			div(class="row")
				div(class="col-12 col-lg-10 offset-lg-1")
					div(class="tab-content" id="myTabContent")
						div(class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab")
							div(class="row")
								div(class="col-lg-5")
									div(class="slider-for")
										div()
											div()
												a(data-fancybox="gallery" href="images/i11.png")
													img(class="lazyload w-100" data-src="images/i11.png" alt="img")
										div()
											div()
												a(data-fancybox="gallery" href="images/hgdsgfhrty.png")
													img(class="lazyload w-100" data-src="images/hgdsgfhrty.png" alt="img")
										div()
											div()
												a(data-fancybox="gallery" href="images/87y5ert.png")
													img(class="lazyload w-100" data-src="images/87y5ert.png" alt="img")
									div(class="slider-nav py-3")
										div()
											div(class="d-flex justify-content-center ")
												img(class="lazyload img-fluid" data-src="images/i11.png" alt="img")
										div()
											div(class="d-flex justify-content-center ")
												img(class="lazyload img-fluid" data-src="images/hgdsgfhrty.png" alt="img")
										div()
											div(class="d-flex justify-content-center ")
												img(class="lazyload img-fluid" data-src="images/87y5ert.png" alt="img")
								div(class="col-lg-7 tab-pane_content")
									h2()
										| Дорожно-строительная техника
									p
										| На сегодняшний день насчитывается больше ста видов спецтехники. Классификация разных видов техники включает большое разнообразие узкоспециализированных спецмашин. Они предназначены для выполнения какой-либо одной задачи. Наиболее востребованными машинами в дорожно-строительной отрасли являются бульдозеры и автогрейдеры.
									p
										| Широкое применение бульдозеров объясняется простотой их конструкций, высокой производительностью, возможностью универсального использования в разнообразных грунтовых и климатических условиях и относительно низкой стоимостью производства работ. В настоящее время существует большой выбор гусеничных бульдозеров различных габаритных размеров и мощности, которые предназначены для разных видов земляных работ.
									p
										| Наша компания готова предложить весь спектр запасных частей к тракторам Т-130, Т-170, Б-10М, ДЭТ-250 и автогрейдерам ДЗ 98. Отгрузка большинства запасных частей - в день заказа. Так же мы рады предложить запчасти к фронтальным погрузчикам, автогрейдерам и другой спец. технике китайского производства: XCMG, Changlin, Liugong, Shantui, SDLG и др.
									button(class="btn btn_one_full mt-5" data-toggle="modal" data-target="#modalCall")
										| Оставить заявку
						div(class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab")
						div(class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab")
			div(class="excavator_wrap")
				div(class="row")
					div(class="col-lg-10 offset-lg-1")
						div(class="slick__excavator")
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Бортовой фрикцион
										span(class="excavator__type")
											| 24-16-101СП
									img(class="lazyload img-fluid" data-src="images/i12.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 30 000
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Бортовой редуктор
										span(class="excavator__type")
											| К-15А.01.300
									img(class="lazyload img-fluid" data-src="images/i13.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 185 000
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Каток однобортный
										span(class="excavator__type")
											| 24-21-169 СП
									img(class="lazyload img-fluid" data-src="images/i14.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 12 800
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Каток двубортный
										span(class="excavator__type")
											| 24-21-170 СП
									img(class="lazyload img-fluid" data-src="images/i15.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 12 800
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Насос топливный
										span(class="excavator__type")
											| ТНВД 51-67-24 СП
									img(class="lazyload img-fluid" data-src="images/i16.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 18 500
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Натяжное колесо
										span(class="excavator__type")
											| 50-21-305СП/ 306СП
									img(class="lazyload img-fluid" data-src="images/i17.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 34 000
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Полуось
										span(class="excavator__type")
											| 24-19-37
									img(class="lazyload img-fluid" data-src="images/i18.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 15 000
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Уплотнение большое
										span(class="excavator__type")
											| 24-19-119СП
									img(class="lazyload img-fluid" data-src="images/i19.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 6 000
							div()
								div(class="excavator__item")
									div(class="excavator__first")
										span(class="excavator__header")
											| Уплотнение малое
										span(class="excavator__type")
											| 20-19-123СП
									img(class="lazyload img-fluid" data-src="images/i20.png" alt="img")
									div(class="excavator__last")
										span(class="excavator__price")
											| 3 400
							
		footer(class="footer footer__one")
			div(class="container-fluid")
				div(class="row pb-5")
					div(class="col-12 col-lg-3 pb-4 pb-lg-0  offset-lg-1 ")
						div(class="footer__description_w d-flex flex-column justify-content-around")
							div(class="footer__description_w_bg")
							div(class="footer__description_w_color")
							span(class="footer__description footer__header pb-3")
								| Контакты
							div(class="footer__wrap")
								a(href="tel:" class="footer__link pb-3")
									| 8 900 123 45 67
								a(href="mail:" class="footer__link pb-3")
									| info@mail.ru
								span(class="footer__adres pb-3")
									| Челябинск, ул. Ленина 35
							button(class="btn btn_one_full" data-toggle="modal" data-target="#modalCall")
								| Перезвоните мне
					div(class="col-12 col-lg-7")
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.377774904479!2d61.41503636101183!3d55.15916648985994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ed4e2e503119%3A0x40d4f4664f9f7e3d!2z0L_RgC4g0JvQtdC90LjQvdCwLCAzNSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA5MQ!5e0!3m2!1sru!2sru!4v1572934226192!5m2!1sru!2sru" width="100%" height="352" frameborder="0" style="border:0;" allowfullscreen="")
				div(class="row")
					div(class="line col-lg-6 offset-lg-1")

release/oneItem_4.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arsenal:700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="js/startFunction.min.js"></script>
    <title>Project</title>
  </head>
  <body class="one">
    <div id="preloader-cube">
      <div class="caption">
        <div class="cube-loader">
          <div class="cube loader-1"></div>
          <div class="cube loader-2"></div>
          <div class="cube loader-4"></div>
          <div class="cube loader-3"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <nav class="navigation d-flex justify-content-between align-items-center"><a class="logo d-flex align-items-center" href="#"><img class="lazyload mr-5" data-src="images/logoOne.png" alt="img"><span class="d-none d-lg-block">Торговый Дом<br>"ВелесТрейд"</span></a>
                <div class="align-items-center d-lg-flex">
                  <ul class="d-none d-lg-flex align-items-start m-0 pr-4">
                    <li><a class="active" href="#">ГЛАВНАЯ</a></li>
                    <li><a href="#">О КОМПАНИИ</a></li>
                    <li><a href="#">ОБОРУДОВАНИЕ</a></li>
                    <li><a href="#">НАШИ КЛИЕНТЫ</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                  </ul><a class="phone d-none d-lg-block" href="tel:">8 900 123 45 67</a>
                  <button class="btn__menu d-block d-lg-none">
                    <svg class="ham hamRotate ham8" id="burger" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
                      <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
                      <path class="line middle" d="m 30,50 h 40"></path>
                      <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
                    </svg>
                  </button>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <div class="navigation__content d-flex align-items-center justify-content-center">
        <div class="navigation__wrap">
          <ul class="p-0">
            <li><a class="active" href="#">ГЛАВНАЯ</a></li>
            <li><a href="#">О КОМПАНИИ</a></li>
            <li><a href="#">ГЛАВНАЯ</a></li>
            <li><a href="#">ОБОРУДОВАНИЕ</a></li>
            <li><a href="#">НАШИ КЛИЕНТЫ</a></li>
            <li><a href="#">КОНТАКТЫ</a></li>
          </ul><a class="phone m-0" href="tel:">8 900 123 45 67</a>
        </div>
      </div>
      <div class="content content_first">
        <div class="content__wrapper content_first">
          <div class="container-fluid content_first_p">
            <div class="row">
              <div class="col-12 col-lg-5 offset-lg-1">
                <h1>буровое оборудование</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-5 pl-lg-0"><img class="lazyload" data-src="images/Line.png" alt="img"></div>
            </div>
          </div>
          <div class="container-fluid excavator">
            <div class="row">
              <div class="col-10 offset-lg-1"><span class="excavator__h_top">Буровой инструмент</span>
                <ul class="nav nav_blue nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item mb-4 mb-lg-0"><a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">Бульдозеры ЧТЗ</a></li>
                  <li class="nav-item mb-4 mb-lg-0"><a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">Автогрейдеры ДЗ 98</a></li>
                  <li class="nav-item mb-4 mb-lg-0"><a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false">Погрузчики</a></li>
                </ul>
              </div>
            </div>
            <div class="row pb-4">
              <div class="col-12 col-lg-4 offset-lg-1 pb-4">
                <p class="pb-4">Обращаем ваше внимание на то, что не все виды запчастей у тракторов Т-130, Т-170, Б10 взаимозаменяемы.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-10 offset-lg-1">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
                    <div class="row">
                      <div class="col-lg-5">
                        <div class="slider-for">
                          <div>
                            <div><a data-fancybox="gallery" href="images/i11.png"><img class="lazyload w-100" data-src="images/i11.png" alt="img"></a></div>
                          </div>
                          <div>
                            <div><a data-fancybox="gallery" href="images/hgdsgfhrty.png"><img class="lazyload w-100" data-src="images/hgdsgfhrty.png" alt="img"></a></div>
                          </div>
                          <div>
                            <div><a data-fancybox="gallery" href="images/87y5ert.png"><img class="lazyload w-100" data-src="images/87y5ert.png" alt="img"></a></div>
                          </div>
                        </div>
                        <div class="slider-nav py-3">
                          <div>
                            <div class="d-flex justify-content-center "><img class="lazyload img-fluid" data-src="images/i11.png" alt="img"></div>
                          </div>
                          <div>
                            <div class="d-flex justify-content-center "><img class="lazyload img-fluid" data-src="images/hgdsgfhrty.png" alt="img"></div>
                          </div>
                          <div>
                            <div class="d-flex justify-content-center "><img class="lazyload img-fluid" data-src="images/87y5ert.png" alt="img"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-7 tab-pane_content">
                        <h2>Дорожно-строительная техника</h2>
                        <p>На сегодняшний день насчитывается больше ста видов спецтехники. Классификация разных видов техники включает большое разнообразие узкоспециализированных спецмашин. Они предназначены для выполнения какой-либо одной задачи. Наиболее востребованными машинами в дорожно-строительной отрасли являются бульдозеры и автогрейдеры.</p>
                        <p>Широкое применение бульдозеров объясняется простотой их конструкций, высокой производительностью, возможностью универсального использования в разнообразных грунтовых и климатических условиях и относительно низкой стоимостью производства работ. В настоящее время существует большой выбор гусеничных бульдозеров различных габаритных размеров и мощности, которые предназначены для разных видов земляных работ.</p>
                        <p>Наша компания готова предложить весь спектр запасных частей к тракторам Т-130, Т-170, Б-10М, ДЭТ-250 и автогрейдерам ДЗ 98. Отгрузка большинства запасных частей - в день заказа. Так же мы рады предложить запчасти к фронтальным погрузчикам, автогрейдерам и другой спец. технике китайского производства: XCMG, Changlin, Liugong, Shantui, SDLG и др.</p>
                        <button class="btn btn_one_full mt-5" data-toggle="modal" data-target="#modalCall">Оставить заявку</button>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab"></div>
                  <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab"></div>
                </div>
              </div>
            </div>
            <div class="excavator_wrap">
              <div class="row">
                <div class="col-lg-10 offset-lg-1">
                  <div class="slick__excavator">
                    <div>
                      <div class="excavator__item">
                        <div class="excavator__first"><span class="excavator__header">Бортовой фрикцион</span><span class="excavator__type">24-16-101СП</span></div><img class="lazyload img-fluid" data-src="images/i12.png" alt="img">
                        <div class="excavator__last"><span class="excavator__price">30 000</span></div>
                      </div>
                    </div>
                    <div>
                      <div class="excavator__item">
                        <div class="excavator__first"><span class="excavator__header">Бортовой редуктор</span><span class="excavator__type">К-15А.01.300</span></div><img class="lazyload img-fluid" data-src="images/i13.png" alt="img">
                        <div class="excavator__last"><span class="excavator__price">185 000</span></div>
                      </div>
                    </div>
                    <div>
                      <div class="excavator__item">
                        <div class="excavator__first"><span class="excavator__header">Каток однобортный</span><span class="excavator__type">24-21-169 СП</span></div><img class="lazyload img-fluid" data-src="images/i14.png" alt="img">
                        <div class="excavator__last"><span class="excavator__price">12 800</span></div>
                      </div>
                    </div>
                    <div>
                      <div class="excavator__item">
                        <div class="excavator__first"><span class="excavator__header">Каток двубортный</span><span class="excavator__type">24-21-170 СП</span></div><img class="lazyload img-fluid" data-src="images/i15.png" alt="img">
                        <div class="excavator__last"><span class="excavator__price">12 800</span></div>
                      </div>
                    </div>
                    <div>
                      <div class="excavator__item">
                        <div class="excavator__first"><span class="excavator__header">Насос топливный</span><span class="excavator__type">ТНВД 51-67-24 СП</span></div><img class="lazyload img-fluid" data-src="images/i16.png" alt="img">
                        <div class="excavator__last"><span class="excavator__price">18 500</span></div>
                      </div>
                    </div>
                    <div>
                      <div class="excavator__item">
                        <div class="excavator__first"><span class="excavator__header">Натяжное колесо</span><span class="excavator__type">50-21-305СП/ 306СП</span></div><img class="lazyload img-fluid" data-src="images/i17.png" alt="img">
                        <div class="excavator__last"><span class="excavator__price">34 000</span></div>
                      </div>
                    </div>
                    <div>
                      <div class="excavator__item">
                        <div class="excavator__first"><span class="excavator__header">Полуось</span><span class="excavator__type">24-19-37</span></div><img class="lazyload img-fluid" data-src="images/i18.png" alt="img">
                        <div class="excavator__last"><span class="excavator__price">15 000</span></div>
                      </div>
                    </div>
                    <div>
                      <div class="excavator__item">
                        <div class="excavator__first"><span class="excavator__header">Уплотнение большое</span><span class="excavator__type">24-19-119СП</span></div><img class="lazyload img-fluid" data-src="images/i19.png" alt="img">
                        <div class="excavator__last"><span class="excavator__price">6 000</span></div>
                      </div>
                    </div>
                    <div>
                      <div class="excavator__item">
                        <div class="excavator__first"><span class="excavator__header">Уплотнение малое</span><span class="excavator__type">20-19-123СП</span></div><img class="lazyload img-fluid" data-src="images/i20.png" alt="img">
                        <div class="excavator__last"><span class="excavator__price">3 400</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer footer__one">
            <div class="container-fluid">
              <div class="row pb-5">
                <div class="col-12 col-lg-3 pb-4 pb-lg-0  offset-lg-1 ">
                  <div class="footer__description_w d-flex flex-column justify-content-around">
                    <div class="footer__description_w_bg"></div>
                    <div class="footer__description_w_color"></div><span class="footer__description footer__header pb-3">Контакты</span>
                    <div class="footer__wrap"><a class="footer__link pb-3" href="tel:">8 900 123 45 67</a><a class="footer__link pb-3" href="mail:">info@mail.ru</a><span class="footer__adres pb-3">Челябинск, ул. Ленина 35</span></div>
                    <button class="btn btn_one_full" data-toggle="modal" data-target="#modalCall">Перезвоните мне</button>
                  </div>
                </div>
                <div class="col-12 col-lg-7">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.377774904479!2d61.41503636101183!3d55.15916648985994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ed4e2e503119%3A0x40d4f4664f9f7e3d!2z0L_RgC4g0JvQtdC90LjQvdCwLCAzNSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA5MQ!5e0!3m2!1sru!2sru!4v1572934226192!5m2!1sru!2sru" width="100%" height="352" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
              </div>
              <div class="row">
                <div class="line col-lg-6 offset-lg-1"></div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
  <div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
    <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-header"><span>Форма заявки</span></div>
        <div class="modal-body">
          <form class="form">
            <input type="text" placeholder="Имя*">
            <input class="my-4" type="tel" placeholder="Телефон*">
            <div class="d-flex align-items-start justify-content-center py-3 pb-4">
              <label class="m-0">
                <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label_one checkbox__label" for="checkbox"></span>
              </label>
              <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
            </div>
            <div class="d-flex justify-content-center w-100">
              <button class="btn btn_one_full btn__flare" type="submit">Записаться</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-to-top">
    <div class="btn-to-top__content d-flex justify-content-center align-items-center">
      <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
        <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
          <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
            <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <script src="js/main.min.js"></script>
</html>
