source/html/threeItem7.pug
extends baseThirdSite.pug
block content
	div(class="content__wrapper content_third")
		div(class="container-fluid content_first_p")
			div(class="row pb-5")
				div(class="col-12 col-lg-5 offset-lg-1")
					h1(class="header__line")
						| червячные
		div(class="container-fluid excavator")
			div(class="row p_b_60")
				div(class="col-12 col-lg-10 offset-lg-1")
					div(class="row pb-5")
						div(class="col-lg-5 pb-5")
							div(class="slider-for")
								div()
									div()
										a(data-fancybox="gallery" href="images/sdghsdfsdgh.png")
											img(class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div()
										a(data-fancybox="gallery" href="images/sdghsdfsdgh.png")
											img(class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div()
										a(data-fancybox="gallery" href="images/sdghsdfsdgh.png")
											img(class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div()
										a(data-fancybox="gallery" href="images/sdghsdfsdgh.png")
											img(class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img")
							div(class="slider-nav py-3")
								div()
									div(class="d-flex justify-content-center ")
										img(class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div(class="d-flex justify-content-center ")
										img(class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div(class="d-flex justify-content-center ")
										img(class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img")
								div()
									div(class="d-flex justify-content-center ")
										img(class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img")
						div(class="col-lg-7 pb-5 tab-pane_content")
							h2()
								| Червячный редуктор
							p
								| Мы работаем только с проверенными производителями и поставляем Вам надежную подшипниковую продукцию с заводской гарантией.
							p
								| Предлагаем подшипники ведущих российских производителей (ГПЗ, КПК, SPZ-GROUP) , а также известных импортных брендов (SKF, NSK, FBC- GROUP, MPZ, CRAFT BEARINGS, FAG)
							button(class="btn btn_three_full mt-5" data-toggle="modal" data-target="#modalCall")
								| Оставить заявку

release/threeItem7.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arsenal:700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="js/startFunction.min.js"></script>
    <title>Project</title>
  </head>
  <body class="three">
    <div id="preloader-cube">
      <div class="caption">
        <div class="cube-loader">
          <div class="cube loader-1"></div>
          <div class="cube loader-2"></div>
          <div class="cube loader-4"></div>
          <div class="cube loader-3"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="header header_three">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <nav class="navigation d-flex justify-content-between align-items-center"><a class="logo d-flex align-items-center" href="#"><span class="d-none d-lg-block">пик “уральский редуктор”</span></a>
                <div class="align-items-center d-lg-flex">
                  <ul class="d-none d-lg-flex align-items-start m-0 pr-4">
                    <li><a class="active" href="#">ГЛАВНАЯ</a></li>
                    <li><a href="#">О КОМПАНИИ</a></li>
                    <li><a href="#">ОБОРУДОВАНИЕ</a></li>
                    <li><a href="#">НАШИ КЛИЕНТЫ</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                  </ul><a class="phone d-none d-lg-block" href="tel:">8 900 123 45 67</a>
                  <button class="btn__menu d-block d-lg-block">
                    <svg class="ham hamRotate ham8" id="burger" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
                      <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
                      <path class="line middle" d="m 30,50 h 40"></path>
                      <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
                    </svg>
                  </button>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <div class="navigation__content d-flex align-items-center justify-content-center">
        <div class="navigation__wrap">
          <ul class="p-0">
            <li><a class="active" href="#">ГЛАВНАЯ</a></li>
            <li><a href="#">О КОМПАНИИ</a></li>
            <li><a href="#">ГЛАВНАЯ</a></li>
            <li><a href="#">ОБОРУДОВАНИЕ</a></li>
            <li><a href="#">НАШИ КЛИЕНТЫ</a></li>
            <li><a href="#">КОНТАКТЫ</a></li>
          </ul><a class="phone m-0" href="tel:">8 900 123 45 67</a>
        </div>
      </div>
      <div class="content ">
        <div class="content__wrapper content_third">
          <div class="container-fluid content_first_p">
            <div class="row pb-5">
              <div class="col-12 col-lg-5 offset-lg-1">
                <h1 class="header__line">червячные</h1>
              </div>
            </div>
          </div>
          <div class="container-fluid excavator">
            <div class="row p_b_60">
              <div class="col-12 col-lg-10 offset-lg-1">
                <div class="row pb-5">
                  <div class="col-lg-5 pb-5">
                    <div class="slider-for">
                      <div>
                        <div><a data-fancybox="gallery" href="images/sdghsdfsdgh.png"><img class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img"></a></div>
                      </div>
                      <div>
                        <div><a data-fancybox="gallery" href="images/sdghsdfsdgh.png"><img class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img"></a></div>
                      </div>
                      <div>
                        <div><a data-fancybox="gallery" href="images/sdghsdfsdgh.png"><img class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img"></a></div>
                      </div>
                      <div>
                        <div><a data-fancybox="gallery" href="images/sdghsdfsdgh.png"><img class="lazyload w-100" data-src="images/sdghsdfsdgh.png" alt="img"></a></div>
                      </div>
                    </div>
                    <div class="slider-nav py-3">
                      <div>
                        <div class="d-flex justify-content-center "><img class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img"></div>
                      </div>
                      <div>
                        <div class="d-flex justify-content-center "><img class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img"></div>
                      </div>
                      <div>
                        <div class="d-flex justify-content-center "><img class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img"></div>
                      </div>
                      <div>
                        <div class="d-flex justify-content-center "><img class="lazyload img-fluid" data-src="images/sdghsdfsdgh.png" alt="img"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7 pb-5 tab-pane_content">
                    <h2>Червячный редуктор</h2>
                    <p>Мы работаем только с проверенными производителями и поставляем Вам надежную подшипниковую продукцию с заводской гарантией.</p>
                    <p>Предлагаем подшипники ведущих российских производителей (ГПЗ, КПК, SPZ-GROUP) , а также известных импортных брендов (SKF, NSK, FBC- GROUP, MPZ, CRAFT BEARINGS, FAG)</p>
                    <button class="btn btn_three_full mt-5" data-toggle="modal" data-target="#modalCall">Оставить заявку</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
      <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
        <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-header"><span>Форма заявки</span></div>
          <div class="modal-body">
            <form class="form">
              <input type="text" placeholder="Имя*">
              <input class="my-4" type="tel" placeholder="Телефон*">
              <div class="d-flex align-items-start justify-content-center py-3 pb-4">
                <label class="m-0">
                  <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label_three checkbox__label" for="checkbox"></span>
                </label>
                <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
              </div>
              <div class="d-flex justify-content-center w-100">
                <button class="btn btn_three_full btn__flare" type="submit">Записаться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-to-top btn-to-top_second">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <footer class="footer footer_second">
      <div class="container-fluid">
        <div class="row pb-5">
          <div class="col-12 col-lg-3 pb-4 pb-lg-0  offset-lg-1 ">
            <div class="footer__description_w d-flex flex-column justify-content-around"><span class="footer__description footer__header">Контакты</span>
              <div class="footer__wrap"><a class="footer__link " href="tel:">8 900 123 45 67</a><a class="footer__link " href="mail:">info@mail.ru</a><span class="footer__adres ">Челябинск, ул. Ленина 35</span></div>
              <button class="btn  btn_three_full mt-5" data-toggle="modal" data-target="#modalCall">Перезвоните мне</button>
            </div>
          </div>
          <div class="col-12 col-lg-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.377774904479!2d61.41503636101183!3d55.15916648985994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ed4e2e503119%3A0x40d4f4664f9f7e3d!2z0L_RgC4g0JvQtdC90LjQvdCwLCAzNSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA5MQ!5e0!3m2!1sru!2sru!4v1572934226192!5m2!1sru!2sru" width="100%" height="352" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="js/main.min.js"></script>
</html>
